/* There is the same in three diff files create a shared css file */


#img-title-container {
  display: flex;
  margin: 32px 0px 16px 0px;
}

.custom-img {
  border-radius: 50%;
  margin: 0px 32px 0px 0px;
}

#introduction-container {
  align-self: center;
}

#introduction-container p {
  font-size: 24px;
  margin: 0px 0px 8px 0px;
}
