html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rokkitt', serif !important;
  box-sizing: border-box;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

#index-container {
  height: 100%;
}

#index-nav-container {
  height: 10%;
}

#index-body-container {
  height: 85%;
}

#index-footer-container {
  height: 5%;
}
