html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  box-sizing: border-box;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

#index-container {
  height: 100%;
}

#index-nav-container {
  height: 10%;
}

#index-body-container {
  height: 90%;
}
